@import url('https://fonts.googleapis.com/css?family=Poppins');
/* font-family: 'Poppins'; */

body {
    background-color: #00122e;
    position: relative;

}

:root {
    --azul-escuro: #031E49;
    --azul-claro: #4599FE;
    --vermelho: #EE0405;
    --branco: #FFFDFE;
    --preto: #000000;
    --fonte-principal: 'Poppins';
}

/* ---------------------------------- header --------------------------------*/

header {
    background-color: var(--azul-escuro);
    width: 100%;
    height: 88px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.bmw {
    width: 100%;
    position: absolute;
    top: 75px;
}

.foto-header {
    height: 50px;
    margin-right: 15px;
}

.botao_sair {
    margin-left: 15px;
    background-color: #ffffff;
    color: var(--azul-escuro);
    width: 110px;
    height: 40px;
    font-family: var(--fonte-principal);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 5px;

}

.botao_sair:hover {
    transform: scale(1.1);
    ;
    color: #031E49;
}

h1 {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 22px;
    font-weight: lighter;
}

/* --------------------------------- CORPO Ingles-----------------------------------------*/

h2 {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 30px;
    font-weight: lighter;
}

p {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 18px;
    font-weight: lighter;

}

section {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.ingles_1 {
    width: 30%;
    display: flex;
    justify-content: center;
}

.ingles_2 {
    width: 70%;
}

.back_en {
    height: 70vh;
    border-radius: 15px;

}

/* ------------------------------------------- mini - footer ----------------------------------*/

.mini-footer {
    background-color: #000000;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.texto-footer {
    color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: justify;
    font-size: 10px;

}

a {
    text-decoration: none;
}