@import url('https://fonts.googleapis.com/css?family=Poppins');
/* font-family: 'Poppins'; */


body {
    background-image: url(../foto-gustavo/citysofar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}


.imagemFundo2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60vw;
    top: 0;

}

:root {
    --azul-escuro: #031E49;
    --azul-claro: #4599FE;
    --vermelho: #EE0405;
    --branco: #FFFDFE;
    --preto: #000000;
    --fonte-principal: 'Poppins';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    background-color: var(--branco);
    border: #031E49 solid 2px;
    border-radius: 25px;
    padding: 3%;
    width: 30%;
    height: auto;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ---------------------- cadastro -------------------*/

.bandeiras {
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputs-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-family: var(--fonte-principal);
    color: #031E49;
    font-size: 30px;
}

h3{
    font-family: var(--fonte-principal);
    color: #031E49;
    font-size: 25px;
}


/* -------------------------campos inputs -----------------*/

.input-field,
.input-field2,
.input-field3,
.input-field4,
.input-field-login1,
.input-field-login2 {
    position: relative;
    margin-top: 25px;
}

.input-field .input1,
.input-field2 .input2,
.input-field3 .input3,
.input-field4 .input4,
.input-field-login1 .input_login1,
.input-field-login2 .input_login2 {
    width: 390px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    padding: 8 15px;
    border: 2px solid var(--azul-escuro);
    outline: none;
    color: #031E49;

}


.input-field span,
.input-field2 span,
.input-field3 span,
.input-field4 span,
.input-field-login1 span,
.input-field-login2 span {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #031E49;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

.input1:focus,
.input2:focus,
.input3:focus,
.input4:focus,
.input_login1:focus,
.input_login2:focus {
    border: 2px solid var(--azul-claro);
}

.input1:focus~span,
.input2:focus~span,
.input3:focus~span,
.input4:focus~span,
.input_login1:focus~span,
.input_login2:focus~span,
.input1:valid~span,
.input2:valid~span,
.input3:valid~span,
.input4:valid~span,
.input_login1:valid~span,
.input_login2:valid~span {
    top: 0;
    font-size: 16px;
    padding: 0 10px;
    background-color: #fffdfe;
    color: #4599FE;
}

span {
    font-family: var(--fonte-principal);
}

/* -------------------------------------------------------------*/

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao {
    background-color: #005397;
    color: #FFFDFE;
    width: 120px;
    height: 40px;
    font-family: var(--fonte-principal);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}

.botao:hover {
    transform: scale(1.1);
    ;
    color: #031E49;
}

.botaoVoltar {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    color: var(--azul-escuro);
    width: 120px;
    height: 40px;
    font-family: var(--fonte-principal);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 5px;

}

.botaoVoltar:hover {
    transform: scale(1.1);
    ;
    color: #031E49;
}

/* ------------------------------------------- footer --------------------------------------*/

footer {
    background-color: var(--azul-escuro);
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 100px;
}

.mini-footer {
    background-color: #000000;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-size: 10px;

}

.texto-footer {
    color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: justify;


}

.foto-footer {
    margin-top: 15px;
    margin-left: 15px;
    width: 75px;
}

a {
    text-decoration: none;
}