/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');


:root {
  --azul-escuro: #031E49;
  --azul-claro: #4599FE;
  --vermelho: #EE0405;
  --branco: #FFFDFE;
  --preto: #000000;
  --escurooo: #001331;
  --fonte-principal: 'Poppins';

}


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--escurooo);
}



/* ----------------------------------- -------------------------------------------------------------- */

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--escurooo);
}

.dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  border-radius: 25px 0 0 25px;
  height: 100vh;
  overflow: auto;
  background-image: url(../foto-gustavo/citysofar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------------------------------- pagina graficos --------------------------------------------- */

.dash-header {
  background-color: #212124;
}


.janela {
  display: flex;
  width: 100%;
  /* width: 100vw; */
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--fonte-principal);
}

.hello h3 {
  color: var(--azul-claro);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

/* -------------------------- botoes --------------------------------------- */
.aa {
  position: relative;
  background: var(--branco);
  color: var(--branco);
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 5px 20px;
  transition: 0.5s;
}

.aa:hover {
  background: var(--azul-claro);
  color: var(--azul-claro);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--azul-claro);
}

.aa::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--escurooo);
}

.aa span {
  font-family: var(--fonte-principal);
  position: relative;
  z-index: 1;
}

.aa i {
  position: absolute;
  inset: 0;
  display: block;
}

.aa i::before {
  content: '';
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: var(--vermelho);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.aa:hover i::before {
  left: 20%;
  width: 20px;
}

/* -----------------------*/
.ab {
  position: relative;
  background: var(--branco);
  color: var(--branco);
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 5px 20px;
  transition: 0.5s;
}

.ab:hover {
  background: var(--vermelho);
  color: var(--vermelho);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--vermelho);
}

.ab::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--escurooo);
}

.ab span {
  font-family: var(--fonte-principal);
  position: relative;
  z-index: 1;
}

.ab i {
  position: absolute;
  inset: 0;
  display: block;
}

.ab i::before {
  content: '';
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: var(--vermelho);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.ab:hover i::before {
  left: 20%;
  width: 20px;
}

.botao_exit {
  width: 100px;
  height: 50px;
  background-color: #00235a;
  font-family: var(--fonte-principal);
  font-size: large;
  border: none;
  color: var(--branco);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
  transition: 0.8s;
}

.botao_exit:hover {
  color: var(--azul-claro);
  font-size: larger;
}


/* ------------------------------------------------------- DASH BOARD ------------------------------------------------*/

.cima_dash1 {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: space-around;

}

.meio_dash2 {
  display: flex;
  flex-direction: row;
  height: 45%;
  width: 100%;
  justify-content: space-around;
}

.baixo_dash3 {
  display: flex;
  flex-direction: row;
  height: 45%;
  width: 100%;
  justify-content: space-around;
}



/* KPI */ 

  .kpi1{
    background-color: var(--escurooo);
    color: #FFFDFE;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 35px #00112c;
    padding: 1%;
    display: flex;
    align-items: center;
  }

/* graficos */

.chart1 {
  display: flex;
  background-color: var(--escurooo);
  border-radius: 10px;
  max-width: 40%;
  max-height: 90%;
  box-shadow: 0 0 35px #00112c;
  color: var(--branco);
  padding: 1%;
}

.chart2 {
  display: flex;
  background-color: var(--escurooo);
  border-radius: 10px;
  max-width: 40%;
  max-height: 90%;
  box-shadow: 0 0 35px #00112c;
  padding: 1%;

}

.div_chart4{
  display: flex;
  width: 435px;
  height: 200px;
  background-color: #212124;
  border-radius: 10px;

}

.fotos{
  display: flex;
  flex-direction: row;
}

.img_theg{
  height: 15px;
}

.img_thegdf{
  height: 20px;
}
