@import url('https://fonts.googleapis.com/css?family=Poppins');
/* font-family: 'Poppins'; */

body {
  background-color: var(--branco);
}

.alto {
  height: 80px;
  background-color: var(--azul-escuro);
}

.setas {
  position: absolute;
  height: 60%;
  right: 400px;
  top: 37%;
  z-index: 900;
}

/* -------------------------------------------- HEADER ---------------------------------------*/

:root {
  --azul-escuro: #031E49;
  --azul-claro: #4599FE;
  --vermelho: #EE0405;
  --branco: #FFFDFE;  
  --fonte-principal: 'Poppins';
}

header {
  background-color: var(--branco);
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1000;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.head1 {
  width: 50%;
  align-items: center;
}

.head2 {
  width: 50%;
  flex-direction: row;
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.logo1 {
  margin-left: 25px;
  width: 200px;

}

.logo2 {
  width: 45px;
  margin-left: 10px;

}

select {
  height: 50px;
  width: 70px;
  border-color: var(--azul-escuro);
  background-color: var(--branco);
  font-family: 'Poppins';
}

li {
  list-style-type: none;
}

.decorlinks {
  font-family: 'Poppins';
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  color: var(--azul-escuro);
}

.imagem_login {
  width: 25px;
  height: auto;
}

.botao_header_login {
  width: 115px;
  height: 45px;
  border-color: var(--azul-escuro);
  background-color: var(--branco);
  border-radius: 10px;

}

.div_botao_login {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.div_botao_login p {
  font-family: 'Poppins';
  font-weight: bold;
  margin-left: 10px;
}

.bmw {
  width: 100%;
  position: absolute;
  top: 110px;
}

/* decoração dos LINKS */

.decorlinks {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.decorlinks::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--vermelho);
  transition: width 0.25s ease-out;
}

.decorlinks:hover::before {
  width: 100%;
}

/* fim dos links */

.botao_header_login:hover {
  background-color: var(--azul-escuro);
  /* Green */
  color: var(--branco);

}


/* ----------------------------------------------- comeco do site -------------------------------------------*/

/* -------------------------Lado Esquerdo------------------------ */
.banner {
  background-color: var(--azul-escuro);
  width: 100%;
  height: 600px;
  flex-direction: row;
  display: flex;
}

.lado1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.caixa {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}

.pp {
  color: var(--branco);
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  left: 200px;

}

.pj {
  color: var(--branco);
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;

}

.texto-pp {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  position: relative;
  margin-bottom: 20px;


}

h1 {
  position: absolute;
  left: 50px;
  font-size: 115px;
  font-family: var(--fonte-principal);
  color: var(--branco);
}

/* ---------------------- Lado Direito----------------------------*/


.lado2 {
  width: 50%;
  display: flex;
  align-items: center;

}

.caixa-imagem-carreira {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

.imagem-carreira {
  width: 100%;
  border-radius: 15px;
}

.diss1 {
  font-family: var(--fonte-principal);
  color: var(--branco);
  font-size: larger;
  position: absolute;
  top: 19%;
  left: 1%;

}

.diss2 {
  font-family: var(--fonte-principal);
  color: var(--azul-escuro);
  font-size: larger;
  position: absolute;
  left: 45%;
  bottom: 22%;
}




/* -------------------- teste ----------------------------------------------------*/

.idioma-box {
  background-color: #005397;
  color: white;
  border-radius: 1.125rem;
  padding: 1rem 2rem;
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
  overflow: hidden;
  min-height: 80px;
  font-family: 'Poppins';
  margin: 20px 0;
  z-index: 901;
}

.letra {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s forwards;
}

.letra.saindo {
  animation: fadeOutDown 0.4s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* -------------------------------------- site ------------------------------------------*/

.section2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


/*************/


.section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.box {
  background-color: #cccccc;
  border-radius: 15px;
  height: 150px;
  width: 25%;
  display: flex;
  align-items: center;
  padding: 1%;
  transition: transform 0.2s ease-in-out;

}

.box:hover {
  transform: scale(1.05);
}

.box p {
  font-family: var(--fonte-principal);
  text-align: center;
  font-size: larger;
  font-weight: bold;

}

.f {
  font-weight: bolder;
}

/* ---------------000 -------------------------------------- */

.section4 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;

}

.box1-section4 {
  width: 50%;
  padding: 40px;

}

.box1-section4 p {
  font-family: var(--fonte-principal);


}

.box2-section4 {
  width: 50%;
  display: flex;
  justify-content: center;

}

.bb-section4 {
  width: 70%;
  background-color: var(--azul-escuro);
  color: var(--branco);
  font-family: var(--fonte-principal);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;

}

.titulo-section {
  font-family: var(--fonte-principal);
  font-size: 30px;
  font-weight: bolder;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}


.tt-sc4 {
  margin-top: 25px;
  text-align: center;

}

.tt-sc5 {
  margin-top: 50px;

}

/*  ------------------------------ MAPA MUNDÍ ---------------------------------------------------*/

.tt-section05{
  font-family: var(--fonte-principal);
  margin-left: 40px;
  margin-bottom: 50px;

}

.foto-planeta {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


/* --------------------------------Sobre Mim ------------------------------------------------------*/

.section-sobremim {
  display: flex;
  flex-direction: column;

}

.locs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;

}

.loc-1,
.loc-2 {
  width: 50%;
  display: flex;
  justify-content: center;

}

.loc90 {
  width: 370px;
  background-color: rgb(209, 208, 208);
  border-radius: 20px;
  border: 10px;
  padding: 2.5%;
  position: relative;

}
  
.loc91 {

  border-radius: 20px;

}

.img-1 {
  width: 90%;
  border-radius: 20px;


}

.texto_fotos{
  font-family: var(--fonte-principal);
  font-size: 21px;
  text-align: center;


}

/* ------------------------------ parte 2 ---------------------------------------*/


.img-quadro-1{
 
  width: 80%;
  
}

.img-quadro-2{
 width: 50%;
}