@import url('https://fonts.googleapis.com/css?family=Poppins');
/* font-family: 'Poppins'; */

body {
  background-color: var(--branco);
}

/* -------------------------------------------- HEADER ---------------------------------------*/

:root{--azul-escuro: #031E49}
:root{--azul-claro: #4599FE}
:root{--vermelho: #EE0405}
:root{--branco: #FFFDFE}

header {
  background-color: var(--branco);
  width: 100%;
  height: 120px;
  position: fixed;
}

.container{
  align-items: center;
  display: flex;
  flex-direction:row;
  height: 100%;
}

.head1{
  width: 50%;
  align-items: center;
}

.head2{
  width: 50%;
  flex-direction: row;
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.logo1{
  margin-left: 25px;
  width: 200px;

}
.logo2{
  width: 45px;
  margin-left: 10px;

}

.select_hearder{
  height: 50px;
}

li{
    list-style-type: none;
}

.decorlinks{
  font-family: 'Poppins';
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  color: var(--azul-escuro);
}

.imagem_login{
  width: 25px;
  height: auto;
}

.botao_header_login{
  width: 115px;
  height: 45px;
  border-color: var(--azul-escuro);
  background-color: var(--branco);
  border-radius: 10px;
  
}

.div_botao_login{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.div_botao_login p{
 font-family: 'Poppins';
 font-weight: bold;
 margin-left: 10px;
}

.bmw {
  width: 100%;
  position: absolute;
  top: 110px;
}

/* decoração dos LINKS */

.decorlinks {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.decorlinks::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--vermelho);
    transition: width 0.25s ease-out;
}

.decorlinks:hover::before {
    width: 100%;
}

/* fim dos links */

.botao_header_login:hover {
    background-color: var(--azul-escuro);
    /* Green */
    color: var(--branco);

}


/* ----------------------------------------------- comeco do site -------------------------------------------*/

/* -------------------------Lado Esquerdo------------------------ */ 
.banner{
  background-color: var(--azul-escuro);
  width: 100%;
  height: 600px;
  flex-direction: row;
  display: flex;
  
}

.lado1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lado2{
  width: 50%;
}

.caixa{
  display: flex;
  flex-direction: column;
  margin-top: 30px  ;
  margin-left: 30px;
}

.pp{
  color: var(--branco);
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: bolder;
}

.pj{
  color: var(--branco);
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;

}

.texto-pp{
  display: flex;
  justify-content: flex-start;

}

.imagem_caixaTexto{
  width: 65%;
  height: auto;
  position: relative;
}

.texto{
  position: absolute;
}

/* ---------------------- Lado Direito----------------------------*/

.imagem-carreira{
  width: 500px;
}

